@font-face {
	font-family: 'werewolf';
	src: url('werewolf.woff') format('woff');
}

html {
    height: 100%;
    cursor:url('kursor.webp'), auto;
}

body {
    height: inherit;
    background-image: url("background.jpg");
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

div {
    color: rgb(108, 0, 0);
    font-size: 45px;
    font-family: 'werewolf';
    text-align: center;
}

body ::selection {
    background-color:rgb(108, 0, 0);
    color: rgb(25, 25, 25);
}